.text {
  padding: 0em 1em;
  flex-grow: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.bttn {
  display: block;
  width: 2.5em;
  background-size: 1em;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  flex-shrink: 0;
}

.edit {
  background-image: url(../img/pen-solid.svg);
}

.delete {
  background-image: url(../img/trash-solid.svg);
  border-radius: 0 6px 6px 0;
  background-size: 0.9em;
}

.bttn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.checked {
  background-color: rgba(125, 77, 77, 0.5) !important;
  padding: 0 0 0 40px;
  opacity: 0.7;
}
.checked > .text {
  text-decoration: line-through;
  font-style: italic;
  font-size: 0.9em;
}
