.text {
  padding: 0em 1em;
  flex-grow: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.bttn {
  display: block;
  width: 2.5em;
  background-size: 1em;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  flex-shrink: 0;
}

.edit {
  background-image: url(../img/pen-solid.svg);
}

.delete {
  background-image: url(../img/trash-solid.svg);
  border-radius: 0 6px 6px 0;
  background-size: 0.9em;
}

.bttn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.confirm {
  background-image: url(../img/check-solid.svg);
}
.abort {
  background-image: url(../img/times-solid.svg);
  background-size: 0.9em;
  border-radius: 0 6px 6px 0;
}

input.text {
  font-size: inherit;
  font-family: inherit;
  border: unset;
  background: unset;
  align-self: center;
  margin: 0em 1em;
  padding: 0;
  border-bottom: solid rgb(143, 134, 134) 1px;
}
