button {
  font-size: inherit;
  font-family: inherit;
  align-self: stretch;
  border: unset;
  background: unset;
  border-radius: 0 6px 6px 0;
  border-left: solid 1px var(--colorRed);
  padding: 0.6em 1.5em;
  font-weight: 700;
  cursor: pointer;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.25s;
}
